<h1> Your Student has been registered, congrats on not being a muggle anymore!</h1>
<p> Name: <%= @student.fancy_name()%> </p>
<p> House: <%= @student.house_info.name() %> </p>
<p> <img src="<%= @student.house_info.url%>" alt="House logo">  </p>
<p> Age: <%= @student.age()  %></p>

<p> Please call The Sorting-hat if you dont like your house. sorry!</p>
<hr />
