<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Hogwarts</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/students"> All our Students</a>
      </li>
      <li>
        <a href="/students/new"> Register a Student</a>
    </li>
    </ul>
  </nav>

 <%= yield %>
</body>
</html>
